body {
    background: linear-gradient(45deg, #1f4037, #1e5d7d);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #ffffff;
    width: 20rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 1.5rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin: 0.5rem 0 0.2rem 0;
    color: #333;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #9a9797;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #1f4037;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #426b58;
}

p {
    margin-top: 1rem;
    color: #333;
}

a {
    color: #1f4037;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
